

#app{
    min-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header:first-of-type {
    padding-top: 1rem;
}

footer:last-of-type p {
    margin-bottom: 0;
}


.mt-3 {
    margin-top: 3rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.rounded {
    border-radius: 4px;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-center {
    text-align:center;
}

/* dialog {
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
button {
    margin-top: 1rem;
} */
